@charset "utf-8";
/* CSS Document */
/*init*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ fieldset, lengend, button, input, textarea, /* form elements 表单元素 */table,tr, th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0; outline:none;
}
fieldset, lengend, button, input, textarea{border:none;}
fieldset:focus, lengend:focus, button:focus, input:focus, textarea:focus{border:none;}
a:focus { -moz-outline-style: none; } /* IE不支持 */

a:focus { outline: none; } /*很多网站都会加的属性*/
/* 设置默认字体 */
body, button, input, select, textarea { /* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体"Arial, sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, '微软雅黑', "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
address, cite, dfn, em, var {
	font-style: normal;
} /* 将斜体扶正 */
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
} /* 统一等宽字体 */
small {
	font-size: 12px;
} /* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
	list-style: none;
}
/* 重置文本格式元素 */
a {
	text-decoration: none;
}
abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}
q:before, q:after {
	content: '';
}
/* 重置表单元素 */
legend {
	color: #000;
} /* for ie6 */
fieldset, img {
	border: none;
} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table td
{
    empty-cells : show;
}
/* 重置 hr */
hr {
	border: none;
	height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/*html {
	overflow-y: scroll;
}*/
/*清除float*/
/* Clear Fix */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	display:inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display:block;
}
.clearfix{ zoom:1;}
/* End hide from IE Mac */
/* end of clearfix */
/*清除float_end*/
/*init_end*/



/*  公告样式    */
body
    {
        line-height:26px;
        color:#333;
        font-family:"微软雅黑";
        font-size:12px;
        overflow-x:hidden;}
.block{
        display:block;}
        .d-n{
          display: none;
        }
.margin
    {
        margin:0 auto;}
.overflow
    {
        overflow:hidden;}
.left
    {
		display:inline;
        float:left;}
.right
    {
		display:inline;
        float:right;}
.w1002
    {
        width:1002px;
        margin:0 auto;}
/*宽*/
.w100{width:100%;}
.wh100{width:100%;height:100%;}      
/*定位*/
.position_fi{position:fixed;}
.position_re{position:relative;}
.position_ab{position:absolute;}
.pos_lt{left:0;top:0;}
.pos_lt_czjz{left:50%;top:50%;}
.pos_lb{left:0;bottom:0;}
.pos_l{left:0;}
/*字体*/
.f_12{font-size:12px;}
.f_14{font-size:14px;}
.f_16{font-size:16px;}
.f_18{font-size:18px;}
.f_20{font-size:20px;}
.f_22{font-size:22px;}
.f_24{font-size:24px;}
.f_26{font-size:26px;}
.f_28{font-size:28px;}
.f_30{font-size:30px;}
.f_32{font-size:32px;}
.f_36{font-size:36px;}
/*颜色*/
.f_corfff{color:#FFF;}
.f_cor_bg_FFF{background:#FFF;}
.f_cordc5563{color:#dc5563;}
.f_cor0335b7{color:#0335b7;}
.f_cor191919{color:#191919;}
.f_cor333333{color:#333333;}
.f_cor444444{color:#444444;}
.f_cor666666{color:#666666;}
.f_cor999999{color:#999999;}
/*文字水平居中*/
.f_ctr{text-align:center;}
/*加粗*/
.f_wgt{font-weight: bold;}
.f_wgt_no{font-weight:normal;}
/*首先缩进*/
.t_in{text-indent:2em;}
/*边框*/
.bor{border:1px solid;}
.bor_5{border-radius:5px;}
.bor_10{border-radius:10px;}
.bor_15{border-radius:15px;}
.bor_t{border-top:1px solid;}
.bor_t_{border-top:1px dashed;}
.bor_r{border-right:1px solid;}
.bor_r_{border-right:1px dashed;}
.bor_b{border-bottom:1px solid;}
.bor_b_{border-bottom:1px dashed;}
.bor_l{border-left:1px solid;}
.bor_l_{border-left:1px dashed;}



！！
/*
************************************************************************************
*    彩满堂前端技术人员的目的：为方便快捷而努力      ！  ！ ！                *
* **********************************************************************************
* 这里是各个模块的html、css、js代码集合；
*在用时只需要稍加调整代码即可；
*记得把有用的代码的注释去掉；
*(遇到什么有用的模块记得往这里添加（含有html，js，css代码；按照原有的格式添加；）；记得做好目录，以便快速搜索寻找使用；在做站是无比吧不需要的模块内容删除掉；以免影响页面加载速率；另对此有什么好的提议尽快说，不要吝啬！)
*模块目录：
*web-1：输入框类；
*web-2：下拉列表类；
*web-3：筛选类；
 */
/*
**************************
*    web-1 输入框        *
**************************

html源码{
  <div class="x_form_input l_input_bg"><input txt='请输入商务提供的密码' class="" type="password"  value="">
        <span>请输入商务提供的密码</span></div>
}
js源码{
  $('.x_form_input input').on({
        focus:function(){
            $(this).siblings('span').text('');
        },
        blur:function(){
            if($(this).val()==''){
            $(this).siblings('span').text($(this).attr('txt'));
            }
        }
    });
}
*/
/*css样式*/
/*.x_form_input {
  position: relative;
  margin-left: 10px;
}
.x_form_input input{
  margin-left: 0;
  width: 100%;
  height: 100%;
  height: 40px;
  background: none;
  left: 0px;
    position: absolute;
    top: 0px;
}
.x_form_input span {
     width: 100%;
    height: 100%;
    line-height: 40px;
    display: block;
}*/
/*输入框结束*/
/*
**************************
*    web-2 下拉表单    *
**************************
html源码：{
  <div class="x_form_select l_input_bg ">
          <span>教育培训</span>
          <em></em>
          <ul >
          <li >教育培训1</li>
          <li >教育培训2</li>
          <li >教育培训3</li>
          <li >教育培训4</li>
        </ul>
        </div>

}
js源码{
  var flag=false;
    $('.x_form_select span,.x_form_select  em').click(function(){
        flag=true;
        if($(this).siblings('ul').hasClass('css')){
            $(this).siblings('ul').removeClass('css')
        $(this).siblings('ul').slideToggle(300,function(){
                flag=false;
             });
        }else{
            $(this).siblings('ul').slideToggle(300,function(){
                flag=false;
                $(this).addClass('css')
             });
        }
            $(this).parent().find('em').toggleClass('b');
    });
    $('.x_form_select ul li').click(function(){
        $(this).parent().siblings('span').html($(this).html());
    })
    $('body').click(function(){
        if(!flag){
            $('.x_form_select ul ').removeClass('css')
        $('.x_form_select ul ').slideUp(300,function(){});
    $('.x_form_select em').removeClass('b')}
    })

}
*/
/*css样式*/
/*.x_form_select{
  position: relative;
}
.x_form_select span{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  padding-left: 1em;
}
.x_form_select ul{
  width: 200px;
  position: absolute;
  top: 36px;
  left: 0;
  border-radius:0 0 5px 5px ;
   transition:all 0.3s linear ;
   -ms-transform-origin: center top 0;
   -o-transform-origin: center top 0;
   -moz-transform-origin: center top 0;
   -webkit-transform-origin: center top 0;
   transform-origin: center top 0;
   -ms-transform:perspective(200px) rotateX(-90deg);
   -o-transform:perspective(200px) rotateX(-90deg);
   -moz-transform:perspective(200px) rotateX(-90deg);
   -webkit-transform:perspective(200px) rotateX(-90deg);
   transform:perspective(200px) rotateX(-90deg);
}
.x_form_select ul li{
 clear: both;
 width: 188px;
 cursor: pointer;
   padding-left: 12px;
   transition:all 0.3s linear;
   background: #FDE3BA;
}
.x_form_select ul li:hover{
  background: #282828;
  color: #FED087;
  text-indent: 0.5em;
}
.x_form_select  em{
  display: block;
  background: url(../images/sj.png) no-repeat ;
  width: 28px;
  height: 28px;
  position: absolute;
  top:6px;
  right: 5px;
  cursor: pointer;
}
.x_form_select  em.b{
  background: url(../images/sj-b.png) no-repeat ;
}
.x_form_select ul.css {
   -ms-transform:perspective(200px) rotateX(0deg);
   -moz-transform:perspective(200px) rotateX(0deg);
   -webkit-transform:perspective(200px) rotateX(0deg);
   -o-transform:perspective(200px) rotateX(0deg);
   transform:perspective(200px) rotateX(0deg);
}*/
/*下拉菜单结束*/

/*
**************************
*    web-3 筛选开始    *
**************************
html源码{
  <div class="x_sx">
                <div>
                    <span>教育培训</span>
                    <ul class="clearfix x_yxfl">
                    </ul>
                    <div lb=a class="x_shuxing clearfix">
                            <em>属性</em>
                            <ul class="clearfix">
                                <li>Html5</li>
                                <li>js特效</li>
                                <li> Css3 </li>
                                <li>响应式</li>
                                <li>宽屏</li>
                                <li>手机</li>
                                <li>扁平化</li>
                                <li>简洁</li>
                                <li>大气</li>
                                <li>个性</li>
                                <li>透明</li>
                                <li>商务</li>
                                <li>多语种</li>
                                <li>创意 </li>
                                <li>标准 </li>
                                <li>视觉 </li>
                            </ul>
                    </div>
                    <div lb=b class="x_shuxing clearfix x_color">
                            <em>颜色</em>
                            <ul class="clearfix">
                                <li>全部</li>
                                <li>红色</li>
                                <li> 橙色 </li>
                                <li>绿色</li>
                                <li> 蓝色</li>
                                <li>紫色 </li>
                                <li>白色</li>
                                <li> 灰色</li>
                                <li>黑色</li>
                                <li>其他</li>
                            </ul>
                    </div>
                </div>
            </div>
}
js源码{
    
  $(function(){
    $('.x_shuxing').find('ul li').each(function(){
        $(this).attr('lb',$(this).parent().parent('.x_shuxing').attr('lb')+$(this).index());
    });
     $('.x_shuxing ul li').click(function(){
        $(this).toggleClass('dq');
        var a=$(this).attr('lb');i=0;
        $('.x_yxfl').find('li').each(function(){
                if($(this).hasClass(a)){
                    $(this).remove();
                    i=1;
                }
        })
        if(i!=1){
            $('.x_yxfl').append('<li class="'+a+'"><em >'+$(this).html()+'</em><span title="删除" class="icon">&#xe600;</span></li>')
        }
    });
     $('.x_yxfl ').on('click','span',function(){
        var a=$(this).parent().attr('class');
        $(this).parent().remove();
         $('.x_shuxing ul li').each(function(){
                if($(this).attr('lb')==a){
                    $(this).removeClass('dq');
                }
         })
     })
})；


}
*/
/*css样式*/
/*.x_sx {
  background: #F7F7F7;
  padding-bottom: 10px;
  border-bottom: 1px #E3E1E1 solid;
}
.x_sx >div{
  width: 1002px;
  margin: 0 auto;
}
.x_sx >div>span{
  background: url(../images/bk_1.png) no-repeat 0 0;
  display: block;
  width: 116px;
  height: 27px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  font-size: 14px;
}

.x_sx ul.x_yxfl{
  margin: 20px 0 20px -20px;
}
.x_sx ul.x_yxfl li{
  background: none;
  border:1px #F39B10 solid;
  display: inline;
  margin-left: 20px;
  margin-bottom: 1em;
}
.x_sx ul.x_yxfl li em{
  padding: 0 0.5em;
}
.x_sx ul.x_yxfl li span{
  color: #fff;
  background: #F39B10;
  padding: 0 0.4em;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.x_sx ul.x_yxfl li span:hover{
  color: #282828;
}
.x_shuxing{
  margin-bottom: 20px;
}
.x_shuxing em{
  display: inline;
  padding: 0em 1em;
  background: #F39B10;
  float: left;
  color: #fff;
}
.x_shuxing ul{
  width: 760px;
  float: left;
  }
.x_shuxing ul li{
  margin-left: 12px;
  cursor: pointer;
    -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;``
  }
  .x_shuxing ul li.dq{
    color: #F4B66D;
  }
  .x_shuxing ul li:hover{
   color: #F4B66D;
  }
.x_color ul li{
  background: url(../images/li-bk.png) no-repeat right center;
  margin-left: 0;
  padding: 0em 1em;
}
.x_color ul li:last-child{
  background: none;
  }*/
  /*筛选结束*/